.App {
  text-align: center;
}

.heading {
  padding: 20px !important;
  font-weight: 800 !important;
  font-family: Georgia !important;
  font-size: 3rem !important;
  background: -webkit-linear-gradient(45deg, #0d17a8, #0d7b8a 80%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.sub-heading {
  margin-bottom: 20px;
  font-family: Georgia;
}

.welcome-text {
  margin-bottom: 20px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 55%;
}

.login-page {
  display: flex;
  flex-direction: column;
  background-image: url(../public/bgimage3.jpg);
  background-size: cover;
  min-height: 100vh;
}

.page-background {
  display: flex;
  background-image: url(../public/bgimage3.jpg);
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img_cat {
  height: 250px;
  width: 318px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item {
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
  cursor: pointer;
}

.inputBox {
  width: 300px;
  text-align: center; 
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-bottom: 15px;
}

.canvasContainer {
  width: 80%; 
  margin: 0 auto; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.479); 
}

.canvasContainer canvas {
  width: 100%; 
  height: auto; 
}

.Sidebar {
  background-color: rgb(110, 110, 169);
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.25rem 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Sidebar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0.25rem;
  align-items: stretch;
}

.Sidebar ul {
  text-decoration: none;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.website_title {
  font-size: 2rem;
  color: white;
}

.Sidebar li:hover {
  background-color: #383838;
  color: white;
  transition-duration: 0.5s;
}

.Sidebar li:active {
  height: 100%;
  background-color: #555;
}

.usernav {
  margin-inline-start: 1rem;
  margin-inline-end: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.usernav + button {
  margin-inline-start: 1rem;
}

.cardmargin {
  margin-top: 70px;
}

.cardspace {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

.reviewmargin {
  margin-left: 20px;
  margin-top: -70px;
  height: 40px;
}

.reviewbox {
  margin-top: 50px;
  height: -webkit-fill-available;
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: #145fb4;
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px rgba(20, 110, 180, 0.4); 
  --amplify-components-tabs-item-active-border-color: #145fb4;
  --amplify-components-tabs-item-color: #767676; 
  --amplify-components-tabs-item-active-color: #111111; 
  --amplify-components-button-primary-hover-background-color: #182b53;
}

